@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.creditcard {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.creditcardImg {
    width: 600px;
    margin-left: 150px;
}

.header1 {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
    color: black;
}

form input {
    width: 100%;
    padding: 13px 15px;
    margin: 0.7em auto;
    border-radius: 100px;
    border: none;
    background: rgb(255, 255, 255, 0.3);
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: black;
}

input::placeholder {
    color: #fff;
    font-size: 13px;
}

.inputs {
    margin-top: 1em;
}

.bg {
    width: 400px;
    height: 450px;
    background: #007ce6;
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(69% 46% at 48% 46%);
}

.form {
    background-color: #fff;
    width: 330px;
    height: 500px;
    margin-right: 200px;
    margin-top: 40px;
    border-radius: 5px;
    padding: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.3);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    text-align: center;
}

button {
    width: 100%;
    padding: 13px 15px;
    border-radius: 100px;
    border: none;
    background: #007ce6;
    font-family: 'Poppins', sans-serif;
    outline: none;
    cursor: pointer;
    color: #fff;
}

a {
    text-decoration: none;
    color: #007ce6;
}

p {
    font-size: 13px;
    color: #333;
    line-height: 2;
}

.light {
    text-align: right;
    color: #fff;
}

.light a {
    color: #fff;
}
